@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<script type="text/javascript">
    if (typeof Windows !== 'undefined' &&
        typeof Windows.UI !== 'undefined' &&
        typeof Windows.UI.Notifications !== 'undefined') {

        Windows.UI.WebUI.WebUIApplication.addEventListener('activated', function (args) {
            if (args.kind === Windows.ApplicationModel.Activation.ActivationKind.toastNotification) {
                console.log('app activated');
                var newsId = args.argument;
                window.location.href = 'https://toastwebsite.azurewebsites.net/News?newsId=' + newsId;
            }
        });

        function showToast(newsId) {

            var notifications = Windows.UI.Notifications;

            // Get the toast notification manager for the current app.
            var notificationManager = notifications.ToastNotificationManager;

            // The getTemplateContent method returns a Windows.Data.Xml.Dom.XmlDocument object
            // that contains the toast notification XML content.
            var xml = '<toast launch="' + newsId + '"><visual><binding template="ToastGeneric"><text>Breaking news!</text><text>Click here to open the news</text></binding></visual></toast>';
            var toastXml = new Windows.Data.Xml.Dom.XmlDocument();
            toastXml.loadXml(xml);

            // Create a toast notification from the XML, then create a ToastNotifier object
            // to send the toast.
            var toast = new notifications.ToastNotification(toastXml);

            notificationManager.createToastNotifier().show(toast);
        }
    }
</script>

<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Use this area to provide additional information.</p>
<p><button onclick="showToast('1');">Show toast for News 1</button></p>
