<?xml version="1.0" encoding="utf-8"?>
<Package xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities" xmlns:build="http://schemas.microsoft.com/developer/appx/2015/build" xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10" xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp desktop rescap build">
  <Identity Name="48748PremierMikeFrancis.TestApp2000" Version="1.50.13.0" Publisher="CN=E69B7D91-7A2D-41B4-BDF2-5F0EBB2C5FDB" />
  <mp:PhoneIdentity PhoneProductId="bfe36364-533d-421c-8f47-614e46cd7520" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>TestApp2000</DisplayName>
    <PublisherDisplayName>Premier: Mike Francis</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.14393.0" MaxVersionTested="10.0.14393.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="index.html">
      <uap:VisualElements DisplayName="TestApp2000" Description="MyUWP1.Package" BackgroundColor="transparent" Square150x150Logo="images\Square150x150Logo.png" Square44x44Logo="images\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="images\Wide310x150Logo.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="images\splashscreen.png" />
      </uap:VisualElements>
      <Extensions>
        <desktop:Extension Category="windows.fullTrustProcess" Executable="Win32\LauncherWin32.exe" />
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="myuwp">
            <uap:Logo>images\Square44x44Logo.png</uap:Logo>
            <uap:DisplayName>My UWP App</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
        <Extension Category="windows.preInstalledConfigTask" EntryPoint="WRCBackgroundTasks.PreInstallTask" />
        <Extension Category="windows.backgroundTasks" EntryPoint="WRCBackgroundTasks.SessionConnectedTask">
          <BackgroundTasks>
            <Task Type="systemEvent" />
          </BackgroundTasks>
        </Extension>
        <Extension Category="windows.backgroundTasks" EntryPoint="WRCBackgroundTasks.ApplicationTriggerTask">
          <BackgroundTasks>
            <Task Type="systemEvent" />
          </BackgroundTasks>
        </Extension>
        <Extension Category="windows.backgroundTasks" EntryPoint="WRCBackgroundTasks.TimerTriggerTask">
          <BackgroundTasks>
            <Task Type="timer" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
  <build:Metadata>
    <build:Item Name="VisualStudio" Version="15.0" />
    <build:Item Name="VisualStudioEdition" Value="Microsoft Visual Studio Enterprise 2017" />
    <build:Item Name="OperatingSystem" Version="10.0.17134.1 (WinBuild.160101.0800)" />
    <build:Item Name="Microsoft.Build.AppxPackage.dll" Version="15.0.28010.2016" />
    <build:Item Name="ProjectGUID" Value="04502c82-39cc-4615-8977-56c44e479b1e" />
    <build:Item Name="ilc.exe" Version="1.4.24211.00 built by: PROJECTNGDR2" />
    <build:Item Name="OptimizingToolset" Value="ilc.exe" />
    <build:Item Name="UseDotNetNativeSharedAssemblyFrameworkPackage" Value="True" />
    <build:Item Name="UniversalGenericsOptOut" Value="false" />
    <build:Item Name="WindowsDesktop" Version="10.0.17134.0" />
    <build:Item Name="MakePri.exe" Version="10.0.17134.12 (WinBuild.160101.0800)" />
    <build:Item Name="Microsoft.Build.DesktopBridge.Tasks.dll" Version="4.6.27617.1" />
  </build:Metadata>
</Package>